<div class="vertical-list">
  {% for item in include.collection %}

    <a href="{{ item.url }}" class="full">
      <article class="card full">
          <span class="header">
            {{ item.title }}

            {% if item.highlight %}
              <mark>{{ item.highlight }}</mark>
            {% endif %}

          </span>

          {% if item.desc != false %}
          <p class="body">
            {{ item.desc }}
          </p>
          {% endif %}
      </article>
    </a>

  {% endfor %}
</div>
